# Rust
/target/
**/target/

# SvelteKit / Node
node_modules/
.svelte-kit/
/build/
/dist/
/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# OS
.DS_Store

# Environment
.env
.env.*
!.env.example
